.nav {
    background-color: black;
}

nav ul li a {
    color: white;
    border-bottom: none;
    text-decoration: none;
}

nav ul li {
    list-style: none;
    color: white;
    display: inline-block;
    margin-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 16px;
}

nav ul {
    margin-left: 55rem;
}

nav ul li a:hover {
    color: #FF0000;
}

.logo {
    float: left;
    padding-top: 1.75rem;
    margin-left: 3rem;
}

* {
    padding: 0;
    margin: 0;
}

.nav_bar_mobile {
    display: none;
}

@media (max-width: 700px) {
    nav ul {
        display: none;
    }
    nav {
        padding-bottom: 3rem;
        font-family: "Circular Spotify Tx T Black"
    }
    nav img {
        width: 60px;
        height: 20px;
    }
    nav {
        text-align: center;
    }
    .logo {
        float: none;
        margin-left: 0px;
    }
    .nav_bar_mobile {
        background-color: black;
        position: fixed;
        width: 100%;
        /*margin-top: -50px;*/
        display: none;
    }
    .nav_bar_mobile ul li {
        display: inline-block;
        text-align: center;
        margin: 20px;
    }
    .nav_bar_mobile ul li svg:hover {
        color: red;
    }
    .nav_bar_mobile ul {
        text-align: center;
    }
}
